@model PaginacaoRequestDto
@{
    ViewBag.Titulo = "Painel de Controle".ToUpper();
}

<div class="">
    <h1 class="">@ViewBag.Titulo</h1>

    <form class="" asp-area="AdminArea" asp-controller="Livro" asp-action="ObterLivros" method="post">
        <div class="my-3">
            <label for="nome">Tamanho Página</label>
            <input class="form-control" type="number" asp-for="@Model.TamanhoPagina" required>
        </div>

        <div class="my-3">
            <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </form>

    @await Html.PartialAsync("Partials/_TableLivros.cshtml");

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li class="page-item">
                @{
                    Model.PaginaAtual = ViewBag.LivrosList.PaginaAnterior;
                    @Html.ActionLink("Anterior", "ObterLivros", "Livro", Model, new { @class = "page-link" })
                    ;
                }
            </li>

            @{
                for (int i = 1; i <= ViewBag.LivrosList.NumeroPaginas; i++)
                {
                    Model.PaginaAtual = i;
                    <li class="page-item"> @Html.ActionLink(i.ToString(),"ObterLivros","Livro", Model, new { @class = "page-link"}) </li>
                }
            }

            <li class="page-item">
                @{
                    Model.PaginaAtual = ViewBag.LivrosList.ProximaPagina;
                    @Html.ActionLink("Próximo", "ObterLivros", "Livro", Model, new { @class = "page-link" })
                    ;
                }
            </li>
        </ul>
    </nav>

</div>