@using WishLibrary.Core.Enums;
@model PaginacaoRequestDto
@{
}

<form class="" asp-area="AdminArea" asp-controller="Genero" asp-action="ObterGeneros" method="get">
    <div class="my-3">
        <label for="nome">Tamanho Página</label>
        <input class="form-control" type="number" asp-for="@Model.TamanhoPagina" required>
    </div>

    <div class="my-3">
        <button class="btn btn-success" type="submit">Enviar</button>
    </div>
</form>

@{
    if (ViewBag.GeneroList.Response is not null)
    {
        <table class="table" id="tabela">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Gênero</th>
                </tr>
            </thead>
            <tbody id="listarLivros">
                @foreach (var item in ViewBag.GeneroList.Response)
                {
                    <tr>
                        <th scope="row">@item.IdGenero</th>
                        <td>@item.NomeGenero</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><b>Sem itens para mostrar!</b></p>
    }
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item">
            @{
                Model.PaginaAtual = ViewBag.GeneroList.PaginaAnterior;
                @Html.ActionLink("Anterior", "ObterLivros", "Livro", Model, new { @class = "page-link" })
                ;
            }
        </li>

        @{
            for (int i = 1; i <= ViewBag.GeneroList.NumeroPaginas; i++)
            {
                Model.PaginaAtual = i;
                <li class="page-item"> @Html.ActionLink(i.ToString(),"ObterGeneros","Genero", Model, new { @class = "page-link"}) </li>
            }
        }

        <li class="page-item">
            @{
                Model.PaginaAtual = ViewBag.GeneroList.ProximaPagina;
                @Html.ActionLink("Próximo", "ObterGeneros", "Genero", Model, new { @class = "page-link" })
                ;
            }
        </li>
    </ul>
</nav>